body {
  background-color: grey;
  color: #000;
}
.lib-list:after {
  content: '';
  clear: both;
  position: absolute;
}
.lib-list__item {
  float: left;
}
.lib-list__item_img {
  height: 300px;
}
.lib-list .mdc-card {
  background-color: #fff;
}
