body{
  background-color: grey;
  color: #000;
}
.clearfix{
  &:after{
    content: '';
    clear: both;
    display: table;

  }
}
.lib-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__item{
    float: left;
    margin: 20px;
    &_img{
      height: 300px;
    }
  }
  .mdc-card {
    background-color: #fff;
  }
  .mdc-card {
    width: 350px;
  }

}
.mdc-text-field .mdc-floating-label{
  z-index: -1;
}
.timer{
  & &__btns{
    button{
      color: #ffffff !important;
    }
  }
}
@import "test/test.less";


//Animations

.lib-list__item-animate-enter{
  opacity: 0;
}
.lib-list__item-animate-enter.lib-list__item-animate-enter-active{
  opacity: 1;
  transition: all ease 1s;
}
.lib-list__item-animate-leave{
  opacity: 1;
}
.lib-list__item-animate-leave.lib-list__item-animate-leave-active{
  opacity: 0;
  transition: all ease 1s;
}